/* Created by Tivotal */

/* Google fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}

.wrapper::before {
  position: absolute;
  content: "";
  width: 15vw;
  height: 15vw;
  border: 1vw solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1.5vw #000, 0 0 0 5vw #0b8c4c, 0 0 0 7vw #000,
    0 0 0 8vw #fff;
}

.wrapper h2 {
  position: absolute;
  font-size: 6vw;
  color: #fff;
  text-align: center;
  line-height: 2em;
  z-index: 10;
  transform: skewY(-7deg);
  text-shadow: -3px -3px 0 #222, 3px -3px 0 #222, -3px 3px 0 #222,
    3px 3px 0 #222, 4px 4px 0 #fff, 5px 5px 0 #fff, 6px 6px 0 #fff,
    7px 7px 0 #fff;
  animation: float 5s ease infinite;
}

@keyframes float {
  0%,
  100% {
    transform: skewY(-7deg) translate(0, -20%);
  }
  50% {
    transform: skewY(-7deg) translate(0, 20%);
  }
}

.wrapper h2 span {
  font-size: 3em;
  font-weight: 700;
  text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #ccc, 4px 4px 0 #ccc,
    5px 5px 0 #ccc, 6px 6px 0 #ccc, 7px 7px 0 #ccc, 8px 8px 0 #ccc,
    9px 9px 0 #ccc, 20px 20px 0 rgba(0, 0, 0, 0.2);
}

canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
}
